/* Bootstrap Resets  */
.navbar {
  margin-bottom: 0;
}

/* Home Styles */
h2, p.lead {
  text-align: center;
}

#home h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

#home {
  background-image: url("../images/avel-chuklanov-38687.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

#home .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  display: table;
}

#home .container {
  color: #fff;
  text-align: center;
  vertical-align :middle;
  display: table-cell;
}

.project-description {
  padding-top: 15px;
  padding-bottom: 35px;
}

.project-description ul {
  margin-bottom: 0;
}

.tools {
  background-color: #222;
  color: #fff;
}

.tools p {
  line-height: 1.7;
}

.tools strong {
  color: #a8eb12;
}

.tools .react-reveal {
  margin: 0;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
}

.tools .react-reveal img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 375px) {
  .tools .react-reveal:nth-child(even) {
    margin-right: 0;
  }
}

