div.panel-body {
  padding: 10px 15px;
}

label.question {
  /*font-size: 1.875rem;*/
  font-size: 30px;
  width: 100%;
}

.fa-trash {
  color: red;
}

span.pull-right:hover .fa-trash {
 color: grey;
}

span.pull-right {
  pointer-events: all;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  /*font-size: 1rem;*/
  font-size: 16px;
}

div.btn-success p {
  margin: 5px;
}

.twitter-btn {
  background-color: transparent;
  color: #2fa5f9;
  border: none;
  padding: 0;
}

.twitter-btn:active {
  color: grey;
}
