:root {
  --blue-shade: #0056b3;
}

body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  min-height: 100vh;
}

#root > div:first-of-type {
  padding-bottom: 60px;
}

.mb-5 {
  margin-bottom: 3rem;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  font-size: 1.125em;
}

p {
  font-size: 1.125em;
}

h1 {
  font-size: 50px;
  font-family: 'Alfa Slab One', serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

h2 {
  font-family: 'Roboto Slab', serif;
}

.header {
  background-color: #00d8ff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand:hover {
  color: rgb(165, 164, 164);
}

.modal {
  padding-left: 0;
}

.modal-dialog {
  width: 100%;
  margin: 0;
  max-width: 100%;
}

.modal-content {
  height: 100vh;
  border-radius: 0;
  border: 0;
}

div.poll {
  margin-top: 40px;
}

.postDate {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.votes {
  background-color: var(--blue-shade,'#0056b3');
  padding: 2px 15px;
  border-radius: 25px;
  font-size: 14px;
  color: #fff;
}

label.question {
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  width: 100%;
}

#otherAnswer {
  margin-bottom: 20px;
}

.fa-trash {
  color: red;
}

span.pull-right:hover .fa-trash {
 color: grey;
}

span.pull-right {
  pointer-events: all;
}

div.btn-success p {
  margin: 5px;
}

.twitter-btn {
  background-color: transparent;
  color: #2fa5f9;
  cursor: pointer;
}

.twitter-btn:active {
  color: grey;
}

footer {
  color: #484949;
  font-size: 0.9em;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
}

footer p {
  line-height: 60px;
}

footer a {
  color: #484949;
  transition: all 0.3s ease;
}

footer a:hover {
  color: #00d8ff;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (min-width:768px) {
  div.poll {
    border: 1px solid #46b8da;
    border-left: 8px solid #46b8da;
    padding: 40px;
  }
}
