body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

.mb-5 {
  margin-bottom: 3rem;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  font-size: 1.125em;
}

p {
  font-size: 1.125em;
}

.header {
  background-color: #00d8ff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header h2 {
  font-size: 40px;
}

div.poll {
  border: 1px solid #46b8da;
  border-left: 8px solid #46b8da;
  padding: 40px;
  margin-top: 40px;
}

div.panel-body {
  padding: 10px 15px;
}

label.question {
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  width: 100%;
}

#otherAnswer {
  margin-bottom: 20px;
}

.fa-trash {
  color: red;
}

span.pull-right:hover .fa-trash {
 color: grey;
}

span.pull-right {
  pointer-events: all;
}

div.btn-success p {
  margin: 5px;
}

.twitter-btn {
  background-color: transparent;
  color: #2fa5f9;
  border: none;
  padding: 0;
}

.twitter-btn:active {
  color: grey;
}

footer {
  padding-top: 15px;
  color: #484949;
  font-size: 0.9em;
  text-align: center;
  /* position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px; */
}

footer p {
  text-align: center;
  width: 100%;
}

footer a {
  color: #484949;
  transition: all 0.3s ease;
}

footer a:hover {
  color: #00d8ff;
  text-decoration: none;
  font-weight: bold;
}
